@font-face {
  font-family: 'Mabry Pro';
  src: url('../fonts/MabryPro-Bold.eot');
  src: url('../fonts/MabryPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MabryPro-Bold.woff2') format('woff2'),
    url('../fonts/MabryPro-Bold.woff') format('woff'),
    url('../fonts/MabryPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Mabry Pro';
  src: url('../fonts/MabryPro-Regular.eot');
  src: url('../fonts/MabryPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MabryPro-Regular.woff2') format('woff2'),
    url('../fonts/MabryPro-Regular.woff') format('woff'),
    url('../fonts/MabryPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../fonts/MabryPro-Light.eot');
  src: url('../fonts/MabryPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MabryPro-Light.woff2') format('woff2'),
    url('../fonts/MabryPro-Light.woff') format('woff'),
    url('../fonts/MabryPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../fonts/MabryPro-Medium.eot');
  src: url('../fonts/MabryPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MabryPro-Medium.woff2') format('woff2'),
    url('../fonts/MabryPro-Medium.woff') format('woff'),
    url('../fonts/MabryPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}