footer {
  margin-top: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 102px;
  padding-right: 102px;
  padding-bottom: 43px;
}

.footer_title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
}

.footer-arrow {
  margin-left: 106px;
}

.footer-contacts_wrapper {
  display: flex;
  align-items: center;

}

.footer_socials {
  display: flex;
  align-items: center;
  margin-right: -33px;

  a {
    display: block;
    width: 62px;
    margin-right: 33px;

    img {
      width: 100%;
    }
  }

}

.footer_mail {
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  margin-right: 28px;


}


@media (max-width: 992px) {
  footer {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }

  .footer_mail {
    display: none;
  }

  .footer_title {
    font-size: 14px;
  }

  .footer-contacts_wrapper {
    margin-left: 20px;
  }

}

@media (max-width: 480px) {
  footer {
    margin-top: 60px;
  }

  .footer_socials a {
    width: 42px;
    margin-right: 15px;
  }
}