.form-wrapper {
  width: 440px;
  position: absolute;
  right: 80px;
  top: 30%;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 1;
}

form {
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
  width: 34px;
  height: 22px;
  margin-left: auto;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 1px;
    transform: rotate(-45deg);
    background: #000000;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 1px;
    transform: rotate(45deg);
    background: #000000;
  }
}

.form-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-top: 23px;
  text-align: center;
}

.form-body {
  display: flex;
  flex-flow: row wrap;
  // padding-left: 32px;
  // padding-right: 32px;
  margin-top: 10px;
}

.form-item {
  width: 172px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000000;
  margin-left: 32px;
  margin-top: 22px;

  input {
    border: none;
    margin-top: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    outline: none;
    padding-bottom: 10px;

    &::placeholder {
      font-size: 12px;
      line-height: 12px;
      color: #F0F0F0;
    }
  }

  label {
    font-size: 10px;
    line-height: 10px;
    color: #000000;
  }

}

.importantly {
  display: flex;

  .star {
    margin-left: 2px;
    font-size: 10px;
    line-height: 10px;
    color: #FF0000;
  }
}

.form-btn {
  width: 170px;
  margin: 27px auto;

  button {
    width: 100%;
    background: #FF0000;
  }
}

@media(max-width: 992px) {
  .form-wrapper {
    width: 100%;
    top: 88%;
    right: 0;
  }


}

@media(max-width: 480px) {
  .form-title {
    margin-top: 34px;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    padding-left: 24px;
    padding-right: 24px;
  }

  .form-body {
    justify-content: center;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
  }

  .form-item {
    margin-left: 0;
    width: 100%;

  }

  .form-btn {
    width: 85%;
  }
}