.open {
    display: block !important;
}

.modal,
.modal-2 {
    display: none;
    position: relative;
    z-index: 1050;
    background-color: rgba(100, 100, 100, 0.8);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-dialog {
    position: relative;
    max-width: 586px;
    margin: 10.1rem auto;
    width: auto;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

.modal-content {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.form-wrapper,
.form-wrapper-2 {
    display: none;
    width: 792px;
    position: absolute;
    right: -85px;
    top: 30%;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 1;
}

.form-wrapper-2 {
    form {
        position: relative;
    }
}

.close {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    width: 34px;
    height: 22px;
    margin-left: auto;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 1px;
        transform: rotate(-45deg);
        background: #000000;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 1px;
        transform: rotate(45deg);
        background: #000000;
    }
}

.form-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-top: 32px;
    text-align: center;
}

.form-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    // padding-left: 32px;
    // padding-right: 32px;
    margin-top: 6px;
}

.form-item {
    width: 266px;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 24px;

    input {
        border: none;
        font-size: 18px;
        line-height: 18px;
        color: #000000;
        outline: none;
        padding-left: 12px;
        border: 1px solid #000000;
        height: 42px;

        &::placeholder {
            font-size: 18px;
            line-height: 18px;
            color: #F0F0F0;
        }
    }

    label {
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        padding-left: 12px;
        padding-bottom: 6px;
    }
}

.importantly {
    display: flex;

    .star {
        margin-left: 2px;
        font-size: 10px;
        line-height: 10px;
        color: #FF0000;
    }
}

.form-btn {
    width: 170px;
    margin: 27px auto;

    button {
        width: 100%;
        background: #FF0000;
    }
}

#errorMassage {
    text-align: center;
    margin-top: 5px;
}

@media (max-width: 992px) {
    .form-wrapper {
        width: 100%;
        top: 88%;
        right: 0;
    }

    .modal-dialog {
        margin: 4.1rem auto;
    }

    .form-body {
        justify-content: center;
    }

    .form-item {
        margin-left: 13px;
    }
}

@media (max-width: 480px) {
    .modal-dialog {
        margin: 0;
    }

    .form-title {
        margin-top: 34px;
        font-size: 18px;
        line-height: 140%;
        color: #000000;
        padding-left: 40px;
        padding-right: 40px;
    }

    .form-body {
        justify-content: center;
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
    }

    .form-item {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;

        input {
            border-top: none;
            border-right: none;
            border-left: none;
            font-size: 16px;
            line-height: 16px;
            padding-left: 0px;
        }

        label {
            font-size: 14px;
            line-height: 14px;
            padding-bottom: 0px;
            padding-left: 0px;
        }
    }

    .form-btn {
        width: 85%;
    }
}
