header {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}

.header_logo__wrapper {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
  }
}

.header_logo-name {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

span.name_title {
  font-weight: bold;
  font-size: 27px;
  line-height: 130%;
  letter-spacing: 0.12em;
  color: #000000;
}

span.name_description {
  font-weight: bold;
  font-size: 9px;
  line-height: 130%;
  letter-spacing: 0.12em;
  color: #000000;
}

.header_contacts {
  display: flex;
  align-items: center;
  margin-right: -31px;

  span {
    margin-right: 40px;
  }
}

.header_socials {
  a {
    margin-right: 31px;
  }
}

section.main-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.main-section_info {
  margin-top: 35px;

}

.main-section_title {
  max-width: 762px;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 102px;

  span {
    color: #ff0000;
  }
}

.main-section_img.hidden {
  display: none;
}

.main-section_img {
  width: 685px;

  img {
    width: 100%;
  }
}

.btn_wrapper {
  width: 355px;

  span {
    display: block;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
  }

  &:last-child {
    margin-left: 143px;
  }
}

.btn-red {
  background: #ff0000;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 4px;
    width: 353px;
    height: 55px;
    border: 1px solid #000000;
  }
}

.btn-black {
  background: #000000;
  margin-top: 80px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 353px;
    height: 55px;
    border: 1px solid #000000;
  }
}

@media (max-width: 992px) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-section_title {
    text-align: center;
  }

  .main-section_info {
    margin: auto;
  }

  .main-section_img {
    display: none;
  }

  .main-section_img.hidden {
    display: block;
    width: 100%;
    margin-bottom: 73px;
  }

  .btn_wrapper {
    width: 100%;

    button {
      width: 100%;

      &:before {
        width: 100%;
      }
    }

    &:last-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 610px) {
  header {
    flex-direction: column-reverse;
  }

  .header_logo__wrapper {
    justify-content: center;
    margin-top: 46px;
  }

  .header_contacts {
    justify-content: center;
    padding-left: 8px;
  }

  .name_title {
    font-size: 27px;
  }

  .header_socials a {
    margin-right: 12px;
  }

  .header_contacts {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main-section_title {
    font-size: 20px;
  }

  .btn_wrapper {
    button {
      font-size: 15px;
    }

    .btn-black {
      margin-top: 28px;
    }
  }
}