.replace {
  margin-top: 132px;
}



.replace_wrapper {
  text-align: center;


  p {
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0;


  }


}




.replace_title {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 26px;
}


.replace-btns {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn_wrapper:last-child {
    margin-left: 53px;
  }

  .btn-black {
    margin-top: 0;
  }
}

.hidden-agreement {
  opacity: 0;
  position: absolute;
  left: 103px;
  top: 17px;
  width: 456px;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #000000;
  padding: 20px 20px 27px 20px;
  text-align: left;
  transition: 0.3s;
  z-index: 1;
  pointer-events: none;
}

.replace-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.agreement-link {
  position: relative;
  border-bottom: 2px solid #000000;
  cursor: pointer;
  font-size: 24px;
  font-weight: 100;
  margin-left: 6px;

  &:hover {
    .hidden-agreement {
      opacity: 1;
    }
  }
}