@import 'normalize.css';
@import 'main.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'find-vacancy.scss';
@import 'whatWeDoing.scss';
@import 'replace.scss';
@import 'humans.scss';
@import 'feedback.scss';
@import 'footer.scss';