- var title = 'title'

//- layout.pug
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="minimal-ui")
    link(rel='shortcut icon' type='image/x-icon' href='./icon.png')
    title Крутрекрут
    //- meta(name="description" content="Для приверженцев кето-диеты и для тех, кто только подумывает о кетозе")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1")
    
    //- meta(property='og:url', content='http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html')
    //- meta(property='og:type', content='')
    //- meta(property='og:title', content='Кето-Рационы на каждый день — от 700 ₽ в день')
    //- meta(property='og:description', content='Для приверженцев кето-диеты и для тех, кто только подумывает о кетозе')
    //- meta(property='og:image', content='./og_image.png')
    //- meta(property='og:url' content="https://everyday.etoketo.ru/")
    

   
    //- <meta property="og:description" content="Для приверженцев кето-диеты и для тех, кто только подумывает о кетозе">
    block scripts
    script(src='../src/js/index.js')
  
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-142780474-1')
    //- script.
    //-   window.dataLayer = window.dataLayer || [];
    //-   function gtag(){dataLayer.push(arguments);}
    //-   gtag('js', new Date());
    //-   gtag('config', 'UA-142780474-1');

    //- script(type='text/javascript').
    //-   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    //-   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    //-   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    //-   ym(54376243, "init", {
    //-   clickmap:true,
    //-   trackLinks:true,
    //-   accurateTrackBounce:true,
    //-   webvisor:true
    //-   });
    //- noscript
    //-   div
    //-     img(src='https://mc.yandex.ru/watch/54376243', style='position:absolute; left:-9999px;', alt='')

    block styles
      link(rel="stylesheet" href="../src/styles/styles.scss")

  body
    block content