extends layout/layout.pug


block content
  a(href="index.pug" class='language-link')
    | ru
  .main
    header
      .header_logo__wrapper
        .header_logo
          a(href='#')
            img(src="../src/images/logo.svg" alt="Logo") 
            .header_logo-name
              span.name_title
                |  KRUTRECRUIT
              span.name_description
                | FULLSTACK IT RECRUITMENT AGENCY
      .header_contacts
        span 
          |  contact us 
        .header_socials
          a(title='Telegram' href='https://telegram.me/krutrecruit' target='_blank')
            img.logo(src="../src/images/telegram.svg" alt="Telegram") 
          a(title='Whatsapp' href='whatsapp://send?phone=79515337669')
            img.logo(src="../src/images/whatsapp.svg" alt='Write to Whatsapp')  

    section.main-section
      .main-section_info
        .main-section_title
          | We will find you IT and digital specialists of your <span>dreams</span> just in 5 weeks with a guaranteed result
        .main-section_img.hidden
          img(src="../src/images/ladder.svg" alt="stairs")   
        .btn_wrapper
          button.btn-red  
            | get your first candidate for free 
          span
            |  within 24 hours   
        .btn_wrapper
          button.btn-black  
            | find out the exact cost and terms
          span
            |  to your position
      .main-section_img
        img.logo(src="../src/images/ladder.svg" alt="stairs") 

      .modal
        .modal-dialog
          .modal-content
            .form-wrapper
              .close
              //- form(action='POST' name='candidate' data-netlify='true')
              form(id="form")
                .form-title
                  | GET YOUR FIRST CANDIDATE FOR FREE
                .form-body
                  .form-item
                    label.importantly(for='input-name') 
                      | Name
                      .star *
                    input.input-name(type='text' name='name' id="name" placeholder='Enter your name')  
                  .form-item
                    label.importantly(for='input-contact') 
                      | Phone
                      .star *  
                    input.input-contact(type='text' name='contact' id="contact" placeholder='Enter your phone number')  
                .form-btn
                  button( id='sendForm') send
                  #errorMassage     

      .modal-2
        .modal-dialog
          .modal-content
            .form-wrapper-2
              .close
              form(id="form2")
                .form-title
                  | FIND OUT THE EXACT COST AND TERMS

                .form-body
                  .form-item
                    label.importantly(for='input-name') 
                      | Name
                      .star *
                    input.input-name(type='text' name='name' id="name2" placeholder='Enter your name')  
                  .form-item
                    label.importantly(for='input-contact') 
                      | Phone
                      .star *  
                    input.input-contact(type='text' name='contact' id="contact2" placeholder='Enter your phone number')   
                .form-btn
                  button( id='sendForm') send 
                  #errorMassage         
                

  section.find-vacancy
    .container
      .find-vacancy_title
        | We are able to work with any vacancy you have.   
      .find-vacancy_subtitle
        | Who can we find?
      .accordeon
        ul
          li
            input(type='checkbox', checked='')
            i
            h2 Software Engineering
            p
              span
                a Embedded Engineer
                a Frontend Engineer
                a Hardware Engineer
                a Backend Engineer
                a Data Engineer
              span
                a Full Stack Engineer
                a Machine Learning Engineer
                a Mobile Engineer
                a Security Engineer
                a AR/VR Engineer
              span 
                a Blockchain Engineer
                a Computer Vision Engineer
                a Gaming Engineer
                a NLP Engineer
                a Search Engineer
  
          li
            input(type='checkbox', checked='')
            i
            h2 Engineering Management
            p
              span
                a Applications Engineering Manager
                a Data Infrastructure Manager
                a DevOps Manager
              span  
                a Machine Learning Manager
                a Mobile Engineering Manager
              span  
                a QA Manager
                a Search Engineering Manager

          li
            input(type='checkbox', checked='')
            i
            h2 Developer Operations (DevOps)
            p
              span
                a Build/Release Engineer
              span  
                a DevOps Engineer
              span  
                a Site Reliability Engineer (SRE)

          li
            input(type='checkbox', checked='')
            i
            h2 Design
            p
              span
                a Brand/Graphic Designer
                a Product Designer
              span  
                a UX Designer
                a UX Researcher
              span  
                a Visual/UI Designer
          li
            input(type='checkbox', checked='')
            i
            h2 Product Management
            p
              span
                a Product Manager
    
          li
            input(type='checkbox', checked='')
            i
            h2 Project Management
            p
              span
                a IT Project Manager
                a Program Manager
              span
                a Project Manager
                a Technical Program Manager
          li
            input(type='checkbox', checked='')
            i
            h2 Data Analytics
            p
              span
                a Data Analyst
                a Data Scientist
              span
                a Business Analyst
                a Business Operations
          li
            input(type='checkbox', checked='')
            i
            h2 Quality Assurance (QA)
            p
              span
                a QA Test Automation Engineer
              span
                a QA Manual Test Engineer
          li
            input(type='checkbox', checked='')
            i
            h2 Information Technology (IT)
            p
              span
                a Database Administrator
                a Business Systems Engineer
                a Desktop Support
                a NOC Engineer
              span
                a Network Administrator
                a Network Engineer
                a Salesforce Developer
                a Solutions Architect
              span
                a Solutions Engineer
                a Systems Administrator 
          li
            input(type='checkbox', checked='')
            i
            h2 C-Level
            p
              span
                a CEO
                a CTO 
                a VP of Engineering
              span
                a COO
                a HRD
                a CFO
              span
                a CMO

  section.whatWeDoing
    .container
      .whatWeDoing_wrapper
        .whatWeDoing_title
          | WHAT ARE WE DOING?

        .whatWeDoing_description
          | We take over the whole recruitment process: we are testing their skills and their competence, assigning and ensuring all stages of the interview and, ultimately, agreeing on conditions for a specialist to join your project.

  section.replace
    .replace_wrapper
      .replace_title
        | WE WILL FIND A CANDIDATE REPLACEMENT FOR FREE
      
      p
        | Within 3 months, if the employee does not suit you or he will quit. 
      .replace-text
        p 
          |  These conditions are set out in the
        .agreement-link contract
          .hidden-agreement
            | 2.1.4. In the event of termination of the Contract between the Customer and the Candidate, which was concluded between the Parties and there is an Agreement confirming the employment of the Candidate within the Trial period established by the Customer (up to 6 (six) months), the Contractor undertakes to re-select the candidate for this vacancy once without charging additional fees if the Customer submits the relevant Application no later than 10 days from the date of termination of the Contract with the Candidate.

      .replace-btns
        .btn_wrapper
          button.btn-red  
            | get your first candidate for free 
          span
            |  within 24 hours  
        .btn_wrapper
          button.btn-black  
            | find out the exact cost and terms
          span
            |  to your position  

  section.humans
    .human-text.hidden
        p We achieve results due to clear navigation in the flow of human resources. We  quickly integrate into your processes, help to significantly strengthen internal IT recruitment or build it from scratch
        p We are constantly learning and working to improve the recruitment methodology in IT
        p We work with strong recruiters with relevant experience in IT market from all the continents.
    .humans_wrapper 
      .human
        img(src="../src/images/man.svg" alt="man")
      .human-text
        p We achieve results due to clear navigation in the flow of human resources. We  quickly integrate into your processes, help to significantly strengthen internal IT recruitment or build it from scratch
        p We are constantly learning and working to improve the recruitment methodology in IT
        p We work with strong recruiters with relevant experience in IT market from all the continents.
      
      .human
        img(src="../src/images/woman.svg" alt="woman")    

  section.feedback
    .container
      .feedback_title
        | READ REVIEWS
      .feedback-items_wrapper
        .feedback-item
          .item_logo
            img(src="../src/images/yandex.svg" alt="yandex")
          .item_name
            | Anastasia Kirillova
          .item_link
            a(href="https://www.linkedin.com/in/anastasia-kirillova-14410292/" target="_blank") linkedin
          .item_text
            | It is so nice when someone really understands your needs and you get specialists even at such a high level. Our requirements were met, this was just fantastic! Thanks to Vika and her team.
        .feedback-item
          .item_logo
            img(src="../src/images/sd.svg" alt="sd")
          .item_name
            | Anastasia Krestyanikova 
          .item_link
            a(href="https://www.facebook.com/anastasia.krestyanikova" target="_blank") facebook
          .item_text
            | We were looking for SAP EWM consultant. And let me tell you, this is RARE. Krutrekruit team introduced us to more than 10 specialists of the highest professional level and with a fairly wide range of salary expectations. We have been successfully working with one of the candidates for more than 8 months now.
        .feedback-item
          .item_logo
            img(src="../src/images/42.svg" alt="42")
          .item_name
            | Boris Adimov
          .item_link
            a(href="https://www.linkedin.com/in/boris-adimov-176269105/" target="_blank") linkedin
          .item_text
            | For 2 years now, we have been cooperating with  Krutrecruit team, which helps to find even rare specialists in a short period of time, so that our agency can flexibly scale to the needs of our clients.
        .feedback-item
          .item_logo
            img(src="../src/images/alfa.svg" alt="alfa")
          .item_name
            | Elena Demchenko
          .item_link
            a(href="https://www.linkedin.com/in/elena-demchenko-47263a14a/" target="_blank") linkedin
          .item_text
            | Krutrecruit knows how to truly understand customer's needs and provide a selection of relevant CVs. This helps you hire one of the best developers with no time wasted.

  footer
    .footer_title
      | contact us
      .footer-arrow
        img.logo(src="../src/images/arrow.svg" alt="arrow")
    .footer-contacts_wrapper
      .footer_mail
        a(href="mailto:sl@krutrecruit.com") sl@krutrecruit.com
      .footer_socials
        a(title='Telegram' href='https://telegram.me/krutrecruit' target='_blank')
            img.logo(src="../src/images/telegram.svg" alt="teledram") 
        a(title='Whatsapp' href='whatsapp://send?phone=79515337669')
          img.logo(src="../src/images/whatsapp.svg" alt='write to WhatsApp')  

          
